In [2]:
import pandas as pd

# Load the large raw dataset
df = pd.read_csv("flights.csv", low_memory=False)  # Helps prevent mixed dtype warnings

In [3]:
df['SCHEDULED_DEPARTURE'] = df['SCHEDULED_DEPARTURE'].astype(str).str.zfill(4)

In [4]:
df['DEP_MIN'] = df['SCHEDULED_DEPARTURE'].str[-2:].astype(int)
df['DEP_HOUR'] = df['SCHEDULED_DEPARTURE'].str[:-2].astype(int)

In [5]:
df['DATETIME_STR'] = df['YEAR'].astype(str) + '-' + \
                     df['MONTH'].astype(str).str.zfill(2) + '-' + \
                     df['DAY'].astype(str).str.zfill(2) + ' ' + \
                     df['DEP_HOUR'].astype(str).str.zfill(2) + ':' + \
                     df['DEP_MIN'].astype(str).str.zfill(2)

In [6]:
df['FLIGHT_DATETIME'] = pd.to_datetime(df['DATETIME_STR'], format='%Y-%m-%d %H:%M', errors='coerce')

In [7]:
print(df.columns.tolist())

['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'DEP_MIN', 'DEP_HOUR', 'DATETIME_STR', 'FLIGHT_DATETIME']

In [8]:
# YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY, DISTANCE

In [9]:
df.drop(columns=['YEAR', 'MONTH','DAY','TAIL_NUMBER','TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME','TAXI_OUT','WHEELS_ON', 'TAXI_IN','DIVERTED','DEP_MIN', 'DEP_HOUR', 'DATETIME_STR'], inplace=True, errors='ignore')

In [10]:
df

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,FLIGHT_DATETIME
0,4,AS,98,ANC,SEA,0005,2354.0,-11.0,1448,430,408.0,-22.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:05:00
1,4,AA,2336,LAX,PBI,0010,2.0,-8.0,2330,750,741.0,-9.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:10:00
2,4,US,840,SFO,CLT,0020,18.0,-2.0,2296,806,811.0,5.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00
3,4,AA,258,LAX,MIA,0020,15.0,-5.0,2342,805,756.0,-9.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00
4,4,AS,135,SEA,ANC,0025,24.0,-1.0,1448,320,259.0,-21.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:25:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,4,B6,688,LAX,BOS,2359,2355.0,-4.0,2611,819,753.0,-26.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819075,4,B6,745,JFK,PSE,2359,2355.0,-4.0,1617,446,430.0,-16.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819076,4,B6,1503,JFK,SJU,2359,2350.0,-9.0,1598,440,432.0,-8.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819077,4,B6,333,MCO,SJU,2359,2353.0,-6.0,1189,340,330.0,-10.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819078,4,B6,839,JFK,BQN,2359,14.0,15.0,1576,440,442.0,2.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00

In [11]:
# Count of unique values
unique_count = df['CANCELLATION_REASON'].nunique(dropna=False)
print(f"Number of unique values: {unique_count}")

# List of unique values (including NaN)
print("\nUnique values:")
print(df['CANCELLATION_REASON'].unique())

# Frequency of each value
print("\nValue counts:")
print(df['CANCELLATION_REASON'].value_counts(dropna=False))

Number of unique values: 5

Unique values:
[nan 'A' 'B' 'C' 'D']

Value counts:
CANCELLATION_REASON
NaN    5729195
B        48851
A        25262
C        15749
D           22
Name: count, dtype: int64

In [12]:
#Code Meaning A Airline/Carrier Issue B Weather C National Air System (ATC) D Security Issues

In [13]:
# Define the replacement mapping
replacement_map = {
    'A': 'Airline/Carrier Issue',
    'B': 'Weather',
    'C': 'Air System (ATC)',
    'D': 'Security Issues'
}

# Replace values in the column
df['CANCELLATION_REASON'] = df['CANCELLATION_REASON'].replace(replacement_map)

In [14]:
print(df['CANCELLATION_REASON'].unique())

[nan 'Airline/Carrier Issue' 'Weather' 'Air System (ATC)'
 'Security Issues']

In [15]:
df['CANCELLATION_REASON'] = df['CANCELLATION_REASON'].fillna('Not Cancelled')

In [16]:
print(df['CANCELLATION_REASON'].unique())

['Not Cancelled' 'Airline/Carrier Issue' 'Weather' 'Air System (ATC)'
 'Security Issues']

In [17]:
# RENAME THE COLUMN NAME

In [18]:
df.rename(columns={'CANCELLATION_REASON': 'CANCELLATION_RE_DESC'}, inplace=True)

In [19]:
print(df.columns.tolist())

['DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'CANCELLED', 'CANCELLATION_RE_DESC', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'FLIGHT_DATETIME']

In [20]:
df.rename(columns={
    'AIR_SYSTEM_DELAY': 'AIR_SYSTEM_DELAY_MIN',
    'SECURITY_DELAY': 'SECURITY_DELAY_MIN',
    'AIRLINE_DELAY': 'AIRLINE_DELAY_MIN',
    'LATE_AIRCRAFT_DELAY': 'LATE_AIRCRAFT_DELAY_MIN',
    'WEATHER_DELAY': 'WEATHER_DELAY_MIN'
}, inplace=True)

In [21]:
print(df.columns.tolist())

['DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'CANCELLED', 'CANCELLATION_RE_DESC', 'AIR_SYSTEM_DELAY_MIN', 'SECURITY_DELAY_MIN', 'AIRLINE_DELAY_MIN', 'LATE_AIRCRAFT_DELAY_MIN', 'WEATHER_DELAY_MIN', 'FLIGHT_DATETIME']

In [22]:
df.rename(columns={'AIRLINE': 'IATA_CODE'}, inplace=True)

In [23]:
print(df.columns.tolist())

['DAY_OF_WEEK', 'IATA_CODE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'CANCELLED', 'CANCELLATION_RE_DESC', 'AIR_SYSTEM_DELAY_MIN', 'SECURITY_DELAY_MIN', 'AIRLINE_DELAY_MIN', 'LATE_AIRCRAFT_DELAY_MIN', 'WEATHER_DELAY_MIN', 'FLIGHT_DATETIME']

In [24]:
# Step 1: Load airlines.csv and airports.csv
airlines_df = pd.read_csv('airlines.csv')
airports_df = pd.read_csv('airports.csv')

# Step 2: Merge airline names into flights (df)
df = pd.merge(df, airlines_df, on='IATA_CODE', how='left')

# Step 3: Merge origin airport info
df = pd.merge(
    df,
    airports_df.add_prefix('ORIGIN_'),
    left_on='ORIGIN_AIRPORT',
    right_on='ORIGIN_IATA_CODE',
    how='left'
)

# Step 4: Merge destination airport info
df = pd.merge(
    df,
    airports_df.add_prefix('DEST_'),
    left_on='DESTINATION_AIRPORT',
    right_on='DEST_IATA_CODE',
    how='left'
)

# Step 5: Drop extra IATA_CODE columns from merges
df.drop(['ORIGIN_IATA_CODE', 'DEST_IATA_CODE'], axis=1, inplace=True)

In [ ]:
df.head(7)

In [25]:
print(df.columns.tolist())

['DAY_OF_WEEK', 'IATA_CODE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT_x', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'CANCELLED', 'CANCELLATION_RE_DESC', 'AIR_SYSTEM_DELAY_MIN', 'SECURITY_DELAY_MIN', 'AIRLINE_DELAY_MIN', 'LATE_AIRCRAFT_DELAY_MIN', 'WEATHER_DELAY_MIN', 'FLIGHT_DATETIME', 'AIRLINE', 'ORIGIN_AIRPORT_y', 'ORIGIN_CITY', 'ORIGIN_STATE', 'ORIGIN_COUNTRY', 'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE', 'DEST_AIRPORT', 'DEST_CITY', 'DEST_STATE', 'DEST_COUNTRY', 'DEST_LATITUDE', 'DEST_LONGITUDE']

In [26]:
df.drop(columns=[ 'AIRLINE', 'ORIGIN_AIRPORT_y', 'ORIGIN_CITY', 'ORIGIN_STATE', 'ORIGIN_COUNTRY', 'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE', 'DEST_AIRPORT', 'DEST_CITY', 'DEST_STATE', 'DEST_COUNTRY', 'DEST_LATITUDE', 'DEST_LONGITUDE'], inplace=True, errors='ignore')

In [27]:
print(df.columns.tolist())

['DAY_OF_WEEK', 'IATA_CODE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT_x', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'CANCELLED', 'CANCELLATION_RE_DESC', 'AIR_SYSTEM_DELAY_MIN', 'SECURITY_DELAY_MIN', 'AIRLINE_DELAY_MIN', 'LATE_AIRCRAFT_DELAY_MIN', 'WEATHER_DELAY_MIN', 'FLIGHT_DATETIME']

In [28]:
df

,DAY_OF_WEEK,IATA_CODE,FLIGHT_NUMBER,ORIGIN_AIRPORT_x,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,CANCELLED,CANCELLATION_RE_DESC,AIR_SYSTEM_DELAY_MIN,SECURITY_DELAY_MIN,AIRLINE_DELAY_MIN,LATE_AIRCRAFT_DELAY_MIN,WEATHER_DELAY_MIN,FLIGHT_DATETIME
0,4,AS,98,ANC,SEA,0005,2354.0,-11.0,1448,430,408.0,-22.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:05:00
1,4,AA,2336,LAX,PBI,0010,2.0,-8.0,2330,750,741.0,-9.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:10:00
2,4,US,840,SFO,CLT,0020,18.0,-2.0,2296,806,811.0,5.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00
3,4,AA,258,LAX,MIA,0020,15.0,-5.0,2342,805,756.0,-9.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00
4,4,AS,135,SEA,ANC,0025,24.0,-1.0,1448,320,259.0,-21.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:25:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,4,B6,688,LAX,BOS,2359,2355.0,-4.0,2611,819,753.0,-26.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819075,4,B6,745,JFK,PSE,2359,2355.0,-4.0,1617,446,430.0,-16.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819076,4,B6,1503,JFK,SJU,2359,2350.0,-9.0,1598,440,432.0,-8.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819077,4,B6,333,MCO,SJU,2359,2353.0,-6.0,1189,340,330.0,-10.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819078,4,B6,839,JFK,BQN,2359,14.0,15.0,1576,440,442.0,2.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00

In [29]:
# Count of missing values in each column
df.isnull().sum()

DAY_OF_WEEK                      0
IATA_CODE                        0
FLIGHT_NUMBER                    0
ORIGIN_AIRPORT_x                 0
DESTINATION_AIRPORT              0
SCHEDULED_DEPARTURE              0
DEPARTURE_TIME               86153
DEPARTURE_DELAY              86153
DISTANCE                         0
SCHEDULED_ARRIVAL                0
ARRIVAL_TIME                 92513
ARRIVAL_DELAY               105071
CANCELLED                        0
CANCELLATION_RE_DESC             0
AIR_SYSTEM_DELAY_MIN       4755640
SECURITY_DELAY_MIN         4755640
AIRLINE_DELAY_MIN          4755640
LATE_AIRCRAFT_DELAY_MIN    4755640
WEATHER_DELAY_MIN          4755640
FLIGHT_DATETIME                  0
dtype: int64

In [ ]:
df.to_csv("3rdCleaned.csv", index=False)

In [30]:
# Display column names and their data types
print(df.dtypes)

DAY_OF_WEEK                         int64
IATA_CODE                          object
FLIGHT_NUMBER                       int64
ORIGIN_AIRPORT_x                   object
DESTINATION_AIRPORT                object
SCHEDULED_DEPARTURE                object
DEPARTURE_TIME                    float64
DEPARTURE_DELAY                   float64
DISTANCE                            int64
SCHEDULED_ARRIVAL                   int64
ARRIVAL_TIME                      float64
ARRIVAL_DELAY                     float64
CANCELLED                           int64
CANCELLATION_RE_DESC               object
AIR_SYSTEM_DELAY_MIN              float64
SECURITY_DELAY_MIN                float64
AIRLINE_DELAY_MIN                 float64
LATE_AIRCRAFT_DELAY_MIN           float64
WEATHER_DELAY_MIN                 float64
FLIGHT_DATETIME            datetime64[ns]
dtype: object

In [31]:
df

,DAY_OF_WEEK,IATA_CODE,FLIGHT_NUMBER,ORIGIN_AIRPORT_x,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,CANCELLED,CANCELLATION_RE_DESC,AIR_SYSTEM_DELAY_MIN,SECURITY_DELAY_MIN,AIRLINE_DELAY_MIN,LATE_AIRCRAFT_DELAY_MIN,WEATHER_DELAY_MIN,FLIGHT_DATETIME
0,4,AS,98,ANC,SEA,0005,2354.0,-11.0,1448,430,408.0,-22.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:05:00
1,4,AA,2336,LAX,PBI,0010,2.0,-8.0,2330,750,741.0,-9.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:10:00
2,4,US,840,SFO,CLT,0020,18.0,-2.0,2296,806,811.0,5.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00
3,4,AA,258,LAX,MIA,0020,15.0,-5.0,2342,805,756.0,-9.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:20:00
4,4,AS,135,SEA,ANC,0025,24.0,-1.0,1448,320,259.0,-21.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-01-01 00:25:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,4,B6,688,LAX,BOS,2359,2355.0,-4.0,2611,819,753.0,-26.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819075,4,B6,745,JFK,PSE,2359,2355.0,-4.0,1617,446,430.0,-16.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819076,4,B6,1503,JFK,SJU,2359,2350.0,-9.0,1598,440,432.0,-8.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819077,4,B6,333,MCO,SJU,2359,2353.0,-6.0,1189,340,330.0,-10.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00
5819078,4,B6,839,JFK,BQN,2359,14.0,15.0,1576,440,442.0,2.0,0,Not Cancelled,NaN,NaN,NaN,NaN,NaN,2015-12-31 23:59:00

In [36]:
df.to_csv("3rdCleaned.csv", index=False)

In [33]:
df.rename(columns={
    'DEPARTURE_DELAY': 'DEPARTURE_DELAY_MIN',
    'ARRIVAL_DELAY': 'ARRIVAL_DELAY_MIN'
}, inplace=True)

In [34]:
import pandas as pd
from datetime import time

# Define the function to convert integer/float strings like 2354.0 or '0005' to time
def convert_to_time(val):
    if pd.isnull(val):
        return None
    try:
        val_str = str(int(float(val))).zfill(4)  # convert to 4-digit string (e.g., 005 -> 0005)
        hour = int(val_str[:2])
        minute = int(val_str[2:])
        if hour < 24 and minute < 60:
            return time(hour, minute)
    except:
        return None
    return None

# Apply to all 4 relevant columns
time_columns = ['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']

for col in time_columns:
    df[col] = df[col].apply(convert_to_time)

In [35]:
df[['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']].head()

  SCHEDULED_DEPARTURE DEPARTURE_TIME SCHEDULED_ARRIVAL ARRIVAL_TIME
0            00:05:00       23:54:00          04:30:00     04:08:00
1            00:10:00       00:02:00          07:50:00     07:41:00
2            00:20:00       00:18:00          08:06:00     08:11:00
3            00:20:00       00:15:00          08:05:00     07:56:00
4            00:25:00       00:24:00          03:20:00     02:59:00

In [36]:
df.to_csv("3rdCleaned.csv", index=False)

In [37]:
print(df.dtypes)

DAY_OF_WEEK                         int64
IATA_CODE                          object
FLIGHT_NUMBER                       int64
ORIGIN_AIRPORT_x                   object
DESTINATION_AIRPORT                object
SCHEDULED_DEPARTURE                object
DEPARTURE_TIME                     object
DEPARTURE_DELAY_MIN               float64
DISTANCE                            int64
SCHEDULED_ARRIVAL                  object
ARRIVAL_TIME                       object
ARRIVAL_DELAY_MIN                 float64
CANCELLED                           int64
CANCELLATION_RE_DESC               object
AIR_SYSTEM_DELAY_MIN              float64
SECURITY_DELAY_MIN                float64
AIRLINE_DELAY_MIN                 float64
LATE_AIRCRAFT_DELAY_MIN           float64
WEATHER_DELAY_MIN                 float64
FLIGHT_DATETIME            datetime64[ns]
dtype: object